<h2>Click <span><%= link_to "Start", home_start_path, :remote => true %></span> to fetch data</h2>
<div id="response">
	<table id="tab" class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>股份名稱</th>
				<th>文件類型</th>
				<th></th>
			</tr>
		</thead>
		<tbody id='tbody'>
			<tr id='last'>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
