<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div>
	<%= link_to "Start fetching", home_start_path, :remote => true %>
</div>
<div id="response">
	<table class="tab">
	</table>
</div>
