$('#response #tr').remove();
<% @hash.each do |key, value| %>
	$('#response #last').before('<tr><td><%= j key %></td><td><%= j value %>"</td><td></td></tr>');
<% end %>

$('#tab').dataTable({
	"bPaginate": false
});