$('#response #tr').remove();
<% @hash.each do |key, value| %>
	$('#response #last').before('<tr><td><%= j key %></td><td><%= j value[0] %>"</td><td><%= j value[1] %></td></tr>');
<% end %>

$('#tab').dataTable({
	"bPaginate": false
});

